<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Bot Dashboard</title>
	<meta name="description" content="Dashboard for using .NETBot on Discord.">

	<link rel="stylesheet" href="~/css/Main.css" />
	<link rel="icon" type="image/png" href="~/Media/Images/Icons/NET_Core_Logo.png" />
</head>
<body>
	<main>
		@RenderBody()
	</main>

	<footer>
	</footer>
</body>
</html>
