<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Bot_Dashboard</title>
	<link rel="stylesheet" href="~/css/Main.css" asp-append-version="true" />
	<link rel="icon" type="image/png" href="~/Media/Images/Icons/NET_Core_Logo.png" />
</head>
<body>
	<header>
		<nav>

		</nav>
	</header>
	<main role="main" class="pb-3">
		@RenderBody()
	</main>

	<footer>

	</footer>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
