.banner
{
	background: #040a1d url("/Media/Images/Banners/Wave Background - Starline (Freepik).webp") no-repeat 0 0 fixed;
	background-position-y: bottom;
	background-size: cover;
	box-shadow: inset 0 0 4px #000000;
	height: 500px;
	width: 100%;
}

.banner > h1
{
	font-size: 400%;
	text-shadow: 1.5px 1.5px 1.5px #000000;
	position: absolute;
	left: 0;
	margin: 150px auto 0 auto;
	right: 0;
	text-align: center;
}