.dashboard
{
	display: flex;
}

.dashboard > nav
{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 150px;
}

.dashboard > nav > a:link, .dashboard > nav > a:visited
{
	padding: 10px 0 10px 25px;
	text-decoration: none;
	width: 100%;
}

.dashboard > nav > a:nth-child(odd) {
	background: #191933;
}

.dashboard > nav > a:nth-child(even) {
	background: #193319;
}

.dashboard > main
{
	margin: 30px 0 0 50px;
	width: Calc(100% - 250px);
}