@{
	ViewData["Title"] = HostConfig.HostName;

	@section Styles
	{
		<link rel="stylesheet" href="~/CSS/Banner.css" />
	}
}

<div class="banner">
	@{
		if (ViewData["SignedIn"] == null)
		{
			<h1>Welcome to @HostConfig.HostName's Dashboard!</h1>
		}
		else
		{
			<h1>Welcome Back, @ViewData["Username"]!</h1>
		}
	}
</div>
<div class="maincolumn">
	<h1>Welcome to the frontpage!</h1>
</div>